@import "open.css";
body{
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.428571429;
    color: #505050;
    background-color: #F2F2F3;
    font-family: 'Open Sans', sans-serif !important;
}
.hide-content{ display:none}
#swipebox-overlay {
    background: rgba(13, 13, 13, 0.87);
}
.customize-support .primary-nav{top:32px !important}
.hoverEffect img{
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.hoverEffect img:hover{
    box-shadow: 0px 0px 20px #A3A3A3;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
.dropdown-menu>li>a {
    padding: 8px 20px;
}
.bcktop{
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.44);
    border-radius: 50%;
    z-index: 999;
    text-align: center;
    color:#fff !important;
    text-decoration: none !important;
    cursor: pointer;
}
.navbar-default {
    background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top,rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, 0)),to(rgba(248, 248, 248, 0)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}
.dropdown-menu>li>a {
    border-bottom:1px solid #c7c7c7;
}
.modal-close {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: -10px;
    right: -10px;
    border-radius: 30px;
    background-color: #000;
    color: #FFF;
    z-index: 99;
    cursor: pointer;
}
.loader{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFF;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99999;
}
img{ max-width: 100%; height: auto;}
.loader:after{
    content: '';
    display: block;
    position: absolute;
    background: url(loading_wheel.png) no-repeat center center;
    width: 50px;
    height: 50px;
    left: 48%;
    top: 48%;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    left: -webkit-calc(50% - 25px);
    top: -webkit-calc(50% - 25px);
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.sliding-drawer{
    position: relative;
    background-color: #F2F2F3;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px -2px 10px #5F5F5F;
}
.collapse.in {display: block !important;}
.dropdown-menu { padding: 0px !important;}
.navbar-nav {margin: 0px -15px !important;}
.nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
}
.fixed-top .sliding-drawer{
    padding-top: 80px;
}
.primary-nav {
    border-radius: 0;
    border: 0;
    border: none;
    margin-bottom: 0px;
    z-index: 9999;
    background-color: #FFF;
    box-shadow: 0px -2px 10px #5F5F5F;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.primary-nav .logo img{
    height: 50px;
    width: auto;
}
.primary-nav div{
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.primary-nav.scrolldown{
    background-color: rgba(255, 255, 255, 0.8);
}
.top-nav{
    background-color: #333333;
    border-bottom: 1px solid rgba(119, 119, 119, 0.4);
}
.top-social,
.top-contact{
    overflow: hidden;
}
.top-contact .top-email,
.top-contact .top-phone{
    float: left;
    line-height: 30px;
    color:#FFF;
    padding-right: 10px;
    font-size: 12px;
}
.top-social .social-media{
    float: right;
}
.top-social ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}
.top-social ul li{
    float: left;
}
.top-social ul li a{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-left: 1px solid rgba(119, 119, 119, 0.4);
    text-align: center;
    color: #DADADA;
}
.top-social ul li a:hover{
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.17);
}
.top-social ul li:last-child{
    border-right: 1px solid rgba(119, 119, 119, 0.2);
}
.top-social .search-bar{ cursor: pointer;}

.drawer-content{
    display: none;
    position: fixed;
    right:0px;
    left:19%;
    background: #EAEAEA;
    top:0px;
    bottom: 0px;
    z-index: 0;
}
.drawer-content .search form{
    position: relative;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.drawer-content .search form .search-query{
    width: 100%;
    border: 1px solid #d7d7d7;
    padding: 10px 50px 10px 10px;
    background:#FFFFFF;
    color:#333;
    border-radius: 10px;
    outline: none;

}
.drawer-content .search form .search-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 16px;
    top: 16px;
    border-radius: 100%;
    background: #d7d7d7;
    border:none;
    color:#333;
}
.drawer-content .search form .search-icon .fa{color:#333;}
.drawer-content .search form .search-icon a{ text-decoration: none !important;}
.drawer-content .slimScrollDiv{
    position: absolute !important;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
}

.drawer-content .drawer-scroll{
    position: absolute !important;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
}
.drawer-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidemenu li ul{display:none;}
.sidemenu li {
    position: relative;
    display: block;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #FFFFFF;
    overflow: hidden;
}
.sidemenu li a {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none !important;
    z-index: 2;
    font-weight: bold;
    color:#333;
    text-shadow: #FFF 1px 1px 1px;
    overflow: hidden;
}

.sidemenu >li>a{ text-transform: uppercase;}
.sidemenu li ul li {
    display: block;
    border-top: 0px solid #2d2e30;
    border-bottom: 0px solid #17181a;
}
.sidemenu li ul{
    padding-bottom: 10px;
}
.sidemenu li ul li ul {
    padding-bottom: 0px;
}
.sidemenu li ul li ul li {
    padding-left: 20px;
}
.sidemenu li ul li ul li a {
    width: 220px;
    text-indent: 0px;
}
.sidemenu li ul li a {
    display: block;
    font-weight: normal;
    padding-left: 25px;
}
.sidemenu li .fa {
    position: absolute;
    display: block;
    right: 15px;
    top: 13px;
    font-size: 15px;
    width: 10px;
    height: 10px;
    z-index: 1;
    color: #333333;
}
.sidemenu li ul li .fa {
    top: 15px !important;
}
.sidemenu .nav-active>.fa:before {
    content: "\f077" !important;
}


#infscr-loading{
    position: absolute;
    left:0px;
    right:0px;
    bottom:10px;
    z-index:999;
    text-align:center;

}
#infscr-loading .infscr-loader{
    margin:0 auto;
    width:300px;
    text-align:center;
}
#infscr-loading img {
    display: inline-block;
    margin-right: 5px;
}
#infscr-loading .infscr-loader{
    background: rgba(74, 74, 74, 0.6);
    padding:5px;
    color: #FFF;
}

/*Page Content*/
.grid-content{margin-top: 15px;}
.grid-content .recent-title{ font-size: 18px;}
.user-thumbnail {
    overflow: hidden;
    min-height: 50px;
    background: url(ajax-loader.svg) no-repeat center center;
}
.user-thumbnail img{
    width: 100%;
    height: auto;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.user-thumbnail img:hover{
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.single-page{padding-top: 15px;}
.grid-content .panel-heading,
.single-page .panel-heading{
    font-weight: bold;
    font-size: 18px;
    color: #555;
    overflow: hidden;
}
.panel-thumbnail{
    float: left;
}
.panel-thumbnail img{
    width: 100px;
    height: 100px;
}
.recent-post-body{
    overflow: hidden;
    height: 155px;
}
.panel-content{ margin-left: 120px;}
.panel-text{ height: 60px;}
.meta-tags-categories{
    font-size: 12px;
    color:#6D6D6D;
    margin-bottom: 5px;
}
.meta-tags-categories a{ font-size: 12px; color:#6D6D6D}
.read-more-btn{margin-top: 15px;}
.read-more-btn .read-more .fa{font-size: 12px;}
.div-social{
    text-align: center;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.aligncenter {
    margin: 5px auto;
}
/*Page Side Menu*/
#sidebar .panel-heading{
    font-weight: bold;
    font-size: 16px;
    color:  #555;
}
#sidebar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar ul li {
    position: relative;
    display: block;

    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
#sidebar ul li a{
    display: block;
    padding: 8px 15px;
    color:  #555;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    overflow: hidden;
}
#sidebar .tagcloud {padding: 15px;}
#sidebar .tagcloud  a{
    display: inline-block !important;
    border: 1px solid #DDDDDD !important;
    padding: 7px !important;
    font-size: 12px !important;
}
#sidebar .widget_recent_entries a{display: inline;}
#sidebar .widget_recent_entries li{padding: 8px 15px;}
#sidebar .job_opening a:hover,
#sidebar .widget_recent_entries a:hover,
#sidebar .widget_meta a:hover,
#sidebar .widget_pages a:hover{
    padding-left: 20px;
    color:  #888;
}
#sidebar .widget-search{
    padding: 15px;
}
.recent-post-widget{ list-style: none}
.recent-post-widget li a .post-thumbnail,
.recent-post-widget img{
    width: 70px;
    height: auto;
}
.recent-post-widget li{
    display: table;
    width: 100%;
    padding: 10px;
}
.recent-post-widget li a{
    display: table-row !important;
    padding: 0px !important;
}
.recent-post-widget li a:hover{ opacity: 0.7}
.recent-post-widget li a .post-thumbnail,
.recent-post-widget li a .post-title-wid{
    display: table-cell;
    vertical-align: top;
}
.recent-post-widget li a .post-title-wid{ padding-left: 10px;}

.footer{
    background-color: #3B424C;
}
.footer .footer-widget{
    margin-bottom: 15px;
}
.footer .footer-widget .footer-header{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px 10px;
    color:#FFF;
}
.footer .footer-widget ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer .footer-widget ul li a{
    color:#FFF;
}
.footer .copyright{
    background-color: #333;
    color:#FFF;
    padding: 15px;
    text-align: center;
}

/*PHOTO GALLERY*/
.photo-gallery{
    position: relative;
    background-color: #FFF;
    margin-top: 15px;
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
.photo-gallery a{ color:#FFF;}
.photo-date span{
    display: block;
    text-align: center;
}
.photo-date .cdate{
    font-size: 30px;
    font-weight: bold;
}
.photo-gallery .photo-date{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #000;
    background: rgba(59, 63, 51, 0.63);
    left:0px;
    top:0px;
    z-index: 99;

}
.photo-gallery .gallery-title{
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-top: 0px;
}
.photo-gallery img{
    width: 100%;
    height: auto;
}
.photo-gallery a{
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none !important;
}
.photo-gallery a .photo-galler-cap{
    display: block;
    left: 0px;
    width: 100%;
    padding: 5px 0px 0px;
    text-decoration: none;
    color:#333;
    height: 100px;
}

.photo-gallery-json{
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 99999;
    overflow: auto;
    padding-bottom: 30px;
}
.photo-gallery-json .close-gallery{
    position: absolute;
    display: block;
    top:0px;
    right:0px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    color:#FFF;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    z-index: 99999;
    text-decoration: none;
    background-image: url("../images/icons.svg");
    background-position: 13px 13px;
    background-repeat: no-repeat;
}
.photo-gallery-json .gallery-item{
    margin-top: 30px;
}
.photo-gallery-json .gallery-item a{
    padding: 15px;
    display: block;
    border-radius: 5px;
    background: url("../images/loader.svg") no-repeat center rgba(255, 255, 255, 0.19);
}
.photo-gallery-json .gallery-pop-image{
    width: 100%;
    height: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.photo-gallery-json .image-loaded{
    opacity:1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.photo-gallery-json a .photo-cap{
    padding-top:10px;
    display: block;
    height: 50px;
    overflow: hidden;
}
.photo-gallery-json a{color:#FFF; text-decoration: none;}

/*VC overide*/
.pattern_olay{ position: relative;}
.pattern_olay:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/pattern.png);
    content: '';
    top: 0;
    left: 0;
    z-index: 0;
}
.pattern_olay div{
    position: relative;
    z-index: 1;
}
.slider .wpb_content_element {margin-bottom: 0px !important;}
.wpb_row{
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.slider {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.slider .wpb_row{
    margin-left: 0px;
    margin-right: 0px;
}
.wpb_raw_code{
    margin-bottom: 0px !important;
}
.slider .vc_column-inner{
    padding: 0px !important;
}

.client-logos{
    margin-bottom: 15px;
}
.client-logos .owl-item{
    padding: 5px;
}
.client-logos img{
    width: 100%;
    height: auto;
    border:2px solid rgba(202, 202, 202, 0.4);
}
.client-comment .col-sm-8 .panel-heading{
    position: relative;
    text-indent: 50px;
}
.client-comment .col-sm-8 .panel-heading img{
    display: block;
    width: 50px;
    height: 50px;

}
.client-comment .col-sm-8 .panel-heading .user-thumbnail{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    top:-4px;
    left:5px;
    border:1px solid #ddd;
}
.client-comments {
    opacity: 0;
    margin-bottom: 15px;
}
.client-comments .client-name{text-align: center;}
.client-comments .item .read-more-btn{
    text-align: center;
    margin-top: 15px;
}
.client-comments .item .comment-head img{ width: 100px; height: 100px;}
.client-comments .item .comment-head,
.client-comments .item .comment-text{
    text-align: center;
}
.client-comments .item .comment-text{
    padding-top: 15px;
}
.client-logo-title,
.happy-client-title{
    text-align: center;
}
.client-logos .owl-item img{
    display: block;
    width: 100%;
    height: auto;
}
.panel-body .container{
    width: 100% !important;
    padding: 0px !important;
}

/*Client testimonials*/
.comment-box .col_{
    float: left;
    width: 33.333333%;
    padding:10px;
}
.comment-box .col_{
    float: left;
    width: 33.333333%;
    padding:10px;
}

.gray-scale img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border: 4px solid #D2D2D2;
    border-radius: 5px;
    -webkit-transition: all 0.9s ease-i;
    -moz-transition: all 0.9s ease-out;
    -ms-transition: all 0.9s ease-out;
    -o-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
}
.gray-scale img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.image-bordered img {
    border: 4px solid #D2D2D2;
    border-radius: 5px;
}
.parallax{ background-position: center center;}


/*job-list*/
.job-list{
    display: block;
    text-align: left !important;
    margin-bottom: 15px !important;
    text-shadow: -1px 1px 0px #FFF;
}
.job-list span{
    font-weight: bold;
    font-size: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Pricing table*/
.pricing-table{
    margin-top: 15px;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.pricing-table:hover{
    box-shadow: 0px 0px 20px #A3A3A3;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
.pricing-table .panel-heading{
    font-weight: bold;
    font-size: 16px;
    color: #555;
    text-align: center;
    background-image: url( ../images/gradient.png);

    background-size: 100% 100%;
}
.pricing-table .panel-price{
    position: relative;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0px;
}

.pricing-table .panel-price sub{ font-size: 12px !important;}
.pricing-table .panel-price:after{
    /*content: '';
    position: absolute;
    background: url( ../images/spike.png) bottom center repeat-x;
    z-index: 1;
    bottom: -1px;
    width: 100%;
    height: 12px;
    left: 0px;
    */

    content: '';
    position: absolute;
    display: block;
    height: 30px;
    width: 100%;
    left: 0px;
    bottom: -29px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 30px solid #062A43;

}
.pricing-table .panel-price:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background-image: url( ../images/gradient.png);
    background-size: 100% 100%;
    z-index: 0;
}
.pricing-table .month{
    font-size: 12px;
    padding-bottom: 0px;
}
.pricing-table .panel-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    background-color: #FFF;
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
.pricing-table .panel-body ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E8E8E8;
    margin-top: -1px;
    padding-left: 5px;
    font-size: 14px;
}
.pricing-table .panel-body ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #FFF;
    margin-right: 5px;
    background-color: #99C93B;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 100%;
}
.pricing-table .panel-body ul li:first-child{
    border-top: 1px solid #E8E8E8;
}
.pricing-table .panel-footer{ text-align: center}
.services-widget{
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 10px;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-top: 15px;
    margin-bottom: 15px;
}
.services-widget:hover {
    background: #FFF !important;
    box-shadow: 0px 0px 20px #000000;
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.services-widget .service-icon {
    margin: 0 auto;
    width: 120px;
    padding: 10px;
    height: 120px;
    background-color: #0E6BAA;
    display: block;
    font-size: 70px;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    border-radius: 100%;
}
.services-widget .service-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.services-widget .service-body {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.services-widget .service-button{
    text-align: center;
}
._event_container{
    overflow: hidden;
    background-color: #FFF;
    padding: 15px;
    border:1px solid #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 15px;
}
._event_container ._event-icon{
    width: 130px;
    height: 130px;
    border:3px solid #DDDDDD;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
._event_container ._event-icon img{
    width: 130px;
    height: 130px;
}
._event_container  ._event-title{
    padding: 0px !important;
    margin: 0px !important;
}
._event_container  ._event-content{
    margin-left: 145px;
}
._event_container  ._event-text{
    margin-top:15px;
}
._event_container  ._event_btn{
    margin-top:15px;
}
/************************/
/*   Additional layout   */
/************************/
.required{color:#B90000}
.contact-background {
    background:#FFF;
    background: rgba(255, 255, 255, 0.89);
    padding: 20px !important;
    display: block;
    overflow: hidden;
}

.contact-background .wpcf7 .wpcf7-form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 4px;
    outline: 0 !important;
}
.contact-background .wpcf7 .wpcf7-submit{
    background: #1e4457;
    text-shadow: 1px 1px 2px #0A2634;
    border-bottom: 2px solid #0A2634;
    color:#FFF;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-background .wpcf7 .wpcf7-not-valid{
    border: 1px solid #a94442;
}
.contact-background .wpcf7 .wpcf7-mail-sent-ng,
.contact-background .wpcf7 .wpcf7-not-valid-tip{
    border: 1px solid transparent;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;text-align: center;
}
.contact-background .wpcf7 .wpcf7-mail-sent-ok{
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    margin: 0 !important;
    text-align: center;
}
.contact-background .wpcf7 .wpcf7-validation-errors{
    margin: 0 !important;
    padding: 0 !important;
}
.contact-background .wpcf7 .wpcf7-validation-errors{
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 5px !important;
    margin-bottom: 20px;
    border: 1px solid #faebcc !important;
    border-radius: 4px;
    text-align: center;
}
.contact-background .wpcf7-captchac,
.contact-background .wpcf7-captchar{
    width: 100px !important;
}

.wpcf7-form {
    display: block;
    overflow: hidden;
}
.wpcf7-form textarea{ height: 100px;}
.wpcf7-form  .wpcf7-form-control {
    display: block;
    width: 100%;
    padding: 6px;
    border: 1px solid #dedede;
    border-radius: 4px;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wpcf7-form  .wpcf7-submit{
    background: #07304c;
    text-shadow: 1px 1px 2px #0A2634;
    border-bottom: 2px solid #0A2634;
    color:#FFF;
    font-weight: bold;
    text-transform: uppercase;
}
.wpcf7-form  .wpcf7-not-valid{
    border: 1px solid #a94442;
}
.wpcf7-form  .wpcf7-mail-sent-ng,
.wpcf7-form  .wpcf7-not-valid-tip{
    border: 1px solid transparent;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;text-align: center;
}
.wpcf7-form  .wpcf7-mail-sent-ok{
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    margin: 0 !important;
    text-align: center;
}
.wpcf7-form  .wpcf7-validation-errors{
    margin: 0 !important;
    padding: 0 !important;
}
.wpcf7-form  .wpcf7-validation-errors{
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 5px !important;
    margin-bottom: 20px;
    border: 1px solid #faebcc !important;
    border-radius: 4px;
    text-align: center;
}
.wpcf7-form .wpcf7-captchac,
.wpcf7-form .wpcf7-captchar{
    width: 100px !important;
}
.comment-box .comm-head{
    position: relative;
    background-color: #1e4457;
    background: -moz-linear-gradient(top, rgb(6, 40, 64) 0%,rgb(7, 48, 76) 1%,rgb(8, 63, 101) 100%);
    background: -webkit-gradient(top, rgb(6, 40, 64) 0%,rgb(7, 48, 76) 1%,rgb(8, 63, 101) 100%);
    background: -webkit-linear-gradient(top, rgb(6, 40, 64) 0%,rgb(7, 48, 76) 1%,rgb(8, 63, 101) 100%);
    background: -o-linear-gradient(top, rgb(6, 40, 64) 0%,rgb(7, 48, 76) 1%,rgb(8, 63, 101) 100%);
    background: -ms-linear-gradient(top, rgb(6, 40, 64) 0%,rgb(7, 48, 76) 1%,rgb(8, 63, 101) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61d4456', endColorstr='#1d4456',GradientType=0 );
    color:#FFF;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0px 10px 0px 0px;
    -moz-border-radius: 0px 10px 0px 0px;
    -ms-border-radius: 0px 10px 0px 0px;
    -webkit-border-radius: 0px 10px 0px 0px;
    border: 1px solid #163747;
}
.comment-box .comm-name{
    margin-left: 115px;
    font-family: arial black;
    font-size: 12px;
}
.comment-box .comm-head .comment-head{
    position: absolute;
    width: 76px;
    height: 76px;
    top:-32px;
    left:20px;
}
.comment-box .adjust-image .comment-head{
    left:5px;
}
.comment-box .adjust-image .comm-name {
    margin-left: 160px;
    font-family: arial black;
    font-size: 12px;
    padding-right: 5px;
}
.comment-box .image2{
    position: absolute;
    width: 76px;
    height: 76px;
    top: 0px;
    left: 76px;
}
.comment-box .comm-head .comment-head img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border:4px solid #07304C;
    width: 100%;
    height: auto;
    opacity: 0;
}
.comment-box .comm-comment{
    background-color: #FFF;
    color:#333;
    padding:20px;
    padding-bottom: 0px;
    text-align: justify;
    font-size: 12px;
    border: 1px solid #BABABA;
    border-top: none;
    border-bottom: none;
}
.comment-box .comm-footer {
    padding: 25px;
    background-color: #FFF;
    font-size: 10px;
    text-align: right;
    color: #1e4457;
    font-weight: bold;
    font-style: italic;
    border-radius: 0px 0px 0px 10px;
    -moz-border-radius: 0px 0px 0px 10px;
    -ms-border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
    border: 1px solid #BABABA;
    border-top: none;
    border-bottom: 3px solid #BABABA;
}

/*BLOG*/
.grid-content .item-grid .user-thumbnail{
    position: relative;
}
.grid-content .item-grid .blog-date {
    background: #3b3f33;
    background: rgba(59, 63, 51, 0.63);
    position: absolute; top:0;
    padding: 5px 10.5px 10px 12.5px;
    text-align:center; z-index: 999;
}
.grid-content .item-grid .day {
    font-size: 44px;
    line-height:44px;
    font-weight:900;
    color: #fff;
    margin: 0 0 0 2px;
}
.grid-content .item-grid .monthyear {
    font-size: 13px;
    line-height:13px;
    color: #fff;
    margin:2px 0 0 0;
}
.grid-content .item-grid .user-thumbnail img{
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    opacity: 0;
}
.grid-content .item-grid .user-thumbnail .image-loaded{
    -webkit-transition: all 0.4s ease-i;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    opacity: 1;
}
.grid-content .item-grid .panel-heading a{color:#333}
.grid-content .item-grid .panel-heading a:hover{color:#337ab7}
.widget-panel,
.job-panel{
    margin-top: 15px;
    margin-bottom: 15px;
}
.ed-slider{
    background:url(../images/preloader.svg) no-repeat center #fbfbfb;
}
.ed-slider ul{
    position: relative;
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.ed-slider li{
    display: block;
    position: absolute;
    height: auto;
    left: 0px;
    top: 0px;
    background:url(../images/preloader.svg) no-repeat center #fbfbfb;
}
.ed-slider li img{
    display: block;
    width: 100%;
    height: auto;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
@media (max-width: 995px){
    .comment-box .col_{
        width: 50%;
    }
    .navbar-nav>li>a {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .primary-nav .container{ width:100% !important}
}
@media(max-width:680px){
    .comment-box .col_{
        width: 100%;
    }
    ._event_container  .pull-right{
        margin-top:15px;
        width: 100%;
    }
}
@media (max-width: 768px){
    .recent-post-body{
        overflow: hidden;
        height: auto
    }
    .customize-support .primary-nav{top:0px !important}
    .primary-nav .container{ width:100% !important}
    background-color: red !important;
    .sliding-drawer{
        position: relative;
        overflow: hidden;
        box-shadow: 0px -2px 10px #5F5F5F;
    }
    .sliding-drawer.dopen{
        right: 80%;
    }
    .mobile-open .drawer-content{ display: block !important;}
    .fixed-top .sliding-drawer{
        padding-top: 0px !important;
    }
    .top-contact{
        border-bottom: 1px solid rgba(119, 119, 119, 0.4);
    }
    .top-social .social-media{
        float: left;
    }
    ._event_container ._event-icon{
        width: 130px;
        height: 130px;
        float: none;
        margin: 15px auto;
    }
    ._event_container  ._event-title{
        text-align: center;
        font-size: 18px;
    }
    ._event_container  ._event-content{
        margin-left: 0;
    }
    ._event_container  ._event-text{
        margin-top:15px;
    }
}