.icon-client-comments{
    background-image: url(../images/coma-client.png);
}
.icon-recent-post{
    background-image: url(../images/recent-post.png);
}
.our-client{
    background-image: url(../images/our-client.png);
}
.single-banner{
    background-image: url(../images/single-banner.png);
}
.text-center{ text-align: center;}
.services{
    background-image: url(../images/services.png);
}
.textarea_html span{
    color:#333 !important;
}
.hide{ display: none;}
